body {
  background-size: cover;
  background-color: #dde0ab;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #8c9304;
}
.block {
  background: rgba(255, 255, 255, 0.8);
  margin: 60px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0px 10px 50px rgba(64, 50, 100, 0.08);
}
.one {
  border-bottom: 1px solid #dde0ab;
  padding-bottom: 30px;
}
.city {
  background-color: #dde0ab;
  border: none;
  color: grey;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  margin-left: 5px;
  font-size: 16px;
  background-color: #8c9304;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.two {
  border-bottom: 1px solid #dde0ab;
  padding-bottom: 0px;
  max-width: 600px;
  max-height: 150px;
}

.today-details {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.today-details strong {
  color: #ff6f3c;
}
.today-temp {
  font-size: 50px;
  position: relative;
  left: 400px;
  top: -100px;
}
.three {
  border-bottom: 1px solid #dde0ab;
  padding-bottom: 30px;
}

.week-details {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

footer {
  color: grey;
  padding: 25px;
  text-align: center;
  font-size: 14px;
}
