body {
  background-color: #dde0ab;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #8c9304;
}

.weather-app {
  background: rgba(255, 255, 255, 0.8);
  margin: 45px auto;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0px 10px 50px rgba(64, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #dde0ab;
  padding-bottom: 0 0 30px 0;
}

.search-form-input {
  background-color: #dde0ab;
  border: none;
  color: grey;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-form-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #8c9304;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  color: gray;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #ff6f3c;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: gray;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #ff6f3c;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  border-top: 1px solid #dde0ab;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: gray;
}
